
{{!-- <li data-color="{{{get_color importance}}}" id="card"> --}}
  <div class="text-center uk-card uk-card-default uk-card-body {{{get_color importance}}}">
    {{!-- <a href="/project/{{id}}">{{name}}</a> --}}
    <h2>{{name}}</h2>
    {{!-- <p>{{{get_emoji}}}</p> --}}
    <p>{{description}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    {{!-- <p>
      <span for="img" aria-label="money">💲</span>
      <span class="dollar-amount">{{format_amount needed_funding}}</span>
      needed
    </p> --}}
      <p>
      {{!-- <span for="img" aria-label="money">💲</span> --}}
      <span class="submitDate">{{format_date due_date}}</span>
      DUE!
    </p>



    <p>
      <button data-id={{id}} class="btn btn-primary" id="complete">complete</button>
    </p>
  </div>
{{!-- </li> --}}

<script src="/js/project.js"></script>